<!-- <div class="login-box-container">
    <div class="login-box-wrapper">
      <div class="login-image-wrapper">
        <img src="../../../../assets/images/logo.png">
      </div>
      <div class="login-content-wrapper">
        <h1>Reset Password</h1>
        <form [formGroup] = "resetForm">
          <mat-form-field appearance="legacy" class="username-form">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field><br>
          <mat-form-field appearance="legacy">
            <mat-label>Current password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-hint style="color:red;" hidden>Incorrect Password</mat-hint>
            </mat-form-field><br>
            <mat-form-field>
            <mat-label>Updated password</mat-label>
            <input matInput type="password"  formControlName="confirmPassword">
            <mat-hint style="color:red;" hidden>New password must be longer</mat-hint>
          </mat-form-field>
          <br>
          <button mat-raised-button routerLink="/login" [disabled]>Reset Password</button>
        </form>
      </div>
    </div>
  </div>


   -->
   <div class="login-box-container">
    <div class="login-box-wrapper">
      <div class="login-content-wrapper">
        <h1>Reset Your Forgotten Password</h1>
        <form [formGroup] = "resetPasswordForm" >
          <mat-form-field appearance="legacy">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email">
            </mat-form-field><br>
          <mat-form-field appearance="legacy">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentPassword">
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-hint style="color:red;" hidden>Incorrect Password</mat-hint>
            </mat-form-field><br>
            <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password"  formControlName="confirmPassword"  placeholder="Enter new password">
            <mat-hint style="color:red;" hidden>Passwords must match.</mat-hint>
          </mat-form-field>
          <br>
          <button mat-raised-button type="submit" [disabled] = "!resetPasswordForm.valid"  (click)="ResetForgottenPassword()" >Reset</button>
        </form>
      </div>
    </div>
  </div>
