<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Generate Cooking List</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper">

    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="admin-form-container" style = "height: 60px; width: 30%;font-size:15; margin: 10px">
    <div class="form-content-wrapper" style = "height: 120px; width: 70%;font-size:15; margin: 10px">

<div>
<div mat-dialog-content style= "font-size:20px; margin-left: 20px ">
    <mat-label style = "margin-right: 10px; align:center; text-align: center;">Please select the date for the cooking list </mat-label>
    <input style = "margin-bottom:20px; height: 20px; width: 100px; border: 2px solid red;" type = "date" name ="date">


</div >
<div mat-dialog-actions align= "right">
  <button mat-button style= "font-size:15px; margin-right: 10px" mat-raised-button color="primary" >Submit</button>
  <button mat-button style= "font-size:15px; margin-right: 10px" mat-raised-button color="primary" >Close</button>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="admin-form-container" style = "height: 60px; width: 30%;font-size:15; margin: 10px">
    <div class="form-content-wrapper" style = "height: 120px; width: 70%;font-size:15; margin: 10px">

<div>
<div mat-dialog-content style= "font-size:20px; margin-left: 20px ">
    <mat-label style = "margin-right: 10px; align:center; text-align: center;">The Cooking List was successfully created </mat-label>
    <br><br>

</div >
<div mat-dialog-actions align= "right">
  <button mat-button style= "font-size:15px; margin-right: 10px" mat-raised-button color="primary" >Close</button>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

