<ion-header>
  <ion-toolbar>
    <ion-title>Product Review</ion-title>
    <ion-buttons (click)="dismissModal(null)" slot="end">
      <ion-fab-button color="danger" size="small">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="review-form-wrapper">
      <form [formGroup]="reviewForm">
        <bar-rating [(rate)]="rate" [max]="5" formControlName="rating"></bar-rating>
        <ion-item lines="none">
          <ion-textarea maxlength="120" formControlName="feedback" placeholder="Enter your feedback here..."></ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="!reviewForm.valid" color="success" (click)="presentAlert()">Submit Review</ion-button>
      </form>
    </div>
  </div>
</ion-content>
