<div class="home-page-container">
  <mat-toolbar color="primary">
    <img src="../../../../assets/images/logo.png" alt="GenPoint Logo">
    <span class="application-name-text" routerLink="/home"><a>GenPoint</a></span>
    <span class="home-toolbar-spacer"></span>
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="account" class="menu-button">Name Surname<mat-icon>arrow_drop_down
      </mat-icon>
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item>Account</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
  <!-- Training Module Side Navigation -->
  <div class="training-modules-container">
    <div class="training-modules-content">
      <mat-drawer-container backdrop="true" autosize>
        <!-- Training Module Side Navigation Content -->
        <mat-drawer #trainingModuleDrawer mode="push" opened="true">
          <h2>Modules</h2>
          <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
          <mat-accordion *ngFor="let item of moduleList">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="border-radius: 0%; box-shadow: none; border-bottom: 1px solid rgba(105,112,117,.2)">
              <mat-expansion-panel-header style="width: 250px">
                <mat-panel-title [ngClass]="{'completed-module-title': item.TrainingModuleCompleted}">
                  {{item.ModuleName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p *ngIf="item.TrainingModuleCompleted" [ngClass]="{'completed-module-text': item.TrainingModuleCompleted}"><b>Completed</b></p>
              <button *ngIf="!item.TrainingModuleCompleted" mat-stroked-button [routerLink]="['training-modules-content-view', item.TrainingModuleId]" class="module-view">Begin</button>
              <button *ngIf="item.TrainingModuleCompleted" mat-stroked-button [routerLink]="['training-modules-content-view', item.TrainingModuleId]" class="module-view">View</button>
            </mat-expansion-panel>
            <mat-icon [routerLink] = "['training-modules-home-page']" class="training-module-home-button-side">home</mat-icon>
          </mat-accordion>
        </mat-drawer>
        <mat-drawer-content>
          <div class="training-module-content-page">
            <router-outlet></router-outlet>
          </div>
          <div class="training-module-footer">
            <mat-icon (click)="trainingModuleDrawer.toggle()" class="training-module-menu-button">menu</mat-icon>
            <mat-icon [routerLink] = "['training-modules-home-page']" class="training-module-home-button">home</mat-icon>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
