.form-content-wrapper {
  display: flex;
  flex-direction: column;
}

.request-branch-stock-stepper {
  background-color: #F3F9FB;
  width: 75vw;
  height: 60vh;
  button {
    margin: 1.5%;
    width: 10%;
  }
}

.stepper-content-container {
  min-height: 43vh;
  max-height: 43vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  h1 {
    margin-left: 1.5%;
    margin-top: 3%;
  }
}

.data-wrapper {
  height: 3vh;
  line-height: 1.5vh;
}

.enter-quantity-card {
  margin-top: 1rem;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1rem;
}

.data-text {
  color: #4DB6AC;
}

.data-text-list {
  color: #4DB6AC;
  margin-left: 0.5%;
}

.add-product-icon {
  color: #4DB6AC;
  font-size: 4em;
  margin-left: 48%;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.remove-product-icon {
  position: absolute;
  color: black;
  opacity: 0.7;
  font-size: 2em;
  margin-top: 0.2%;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

// Confirm Discrepency Container
.confirm-reconciliation-container {
  min-height: 43vh;
  max-height: 43vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .discrepancy-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    button {
      align-self: center;
    }
    mat-card {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2%;
      border-bottom: 5px solid #4DB6AC;
      justify-content: space-between;
      .break {
        flex-basis: 100%;
        height: 100px;
      }
      .item {
        .ng-value {
          font-weight: 600;
        }
      }
      .item-header {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        h1 {
          color: #4DB6AC;
          font-weight: 600;
          font-size: 60px;
        }
      }
    }

  }

}

.green {
  color: #4DB6AC
}

.black {
  color: black;
}


.mat-cell {
  padding: 30px 30px 30px 0;
}

mat-list {
  margin-left: 0.5%;
}

.next-item-btn {
  float: right;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  .confirm-reconciliation-label {
    margin-left: 1.5%;
    margin-top: -5%;
  }
}

// Text in HR

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 3em;
  color: #4DB6AC;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.7vh solid #4DB6AC;
  margin: 1.8%;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.remove-product-icon {
  position: absolute;
  color: black;
  opacity: 0.7;
  font-size: 2em;
  margin-top: 0.3%;
  margin-left: 0.5%;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  z-index: 99999;
}





