@import '~src/styles.scss';

.module-content-container {
  display: flex;
  height: 100vh;
  width: 90vw;
  justify-content: center;
  align-items: flex-start;

  //Module Introduction
  mat-tab-group {
    width: 90vw;
  }
}

.module-introduction-content {
  display: flex;
  height: 75vh;
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  //Module Name
  h1 {
    color: #4DB6AC;
    width: fit-content;
    font-weight: 500;
    font-size: 2.5em;
    margin: 5% 5% 1.5%;
  }

  //Module Introduction Text
  .module-introduction-text {
    width: 35%;
    min-width: 400px;
    font-weight: 500;
    margin-left: 5%;
    margin-bottom: 2%;

    .module-introduction-icons {
      margin-top: 4%;
      margin-bottom: 2%;
      color: #4DB6AC;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      mat-icon {
        margin-right: .9%;
      }
    }

    .content {
      margin-left: 5%;
    }

  }

  button {
    margin-top: 2.5%;
    width: 5vw;
  }
}

.module-learning-area-content {
  display: flex;
  height: 75vh;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;

    .module-mat-card-content {
      position: absolute;
      overflow: auto;

      iframe {
        width: 60vw;
        height: 60vh;
      }

      .module-mat-card-content-info {
        width: 60vw;
        height: fit-content;
        display: flex;
        flex-direction: column;

        .card-content-heading {
          height: fit-content;
          width: 60vw;
          background-color: #4DB6AC;
          margin-top: 2%;
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            color: white;
            font-weight: 500;
            margin-top: 1.5%;
          }

          p {
            text-align: justify;
            text-justify: inter-word;
            width: 56vw;
            font-weight: 500;
            margin-bottom: 2%;
            color: white;
          }

          ol {
            color: white;
            align-self: flex-start;
            padding-left: 3%;
          }
        }

        .module-image-grid {
          margin-top: 2.8%;
          align-items: center;
        }
      }

      .button-module-finish {
        width: 140px;
        align-self: center;
        margin-top: 2%;
        background-color: #4DB6AC;
        color: white;
      }

      .button-module-later {
        width: 140px;
        align-self: center;
        margin: 2%;
        color: #4DB6AC;
      }
    }
  }
}

.module-introduction-content {
  display: flex;
  height: 75vh;
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  //Module Name
  h1 {
    color: #4DB6AC;
    width: fit-content;
    font-weight: 500;
    font-size: 2.5em;
    margin: 5% 5% 1.5%;
  }

  mat-list {
    margin-top: 5%;
    margin-bottom: 5%;
    span {
      font-weight: 600;
      color: #4DB6AC;
      margin-right: 0.7%;
    }
    button {
      width: fit-content;
    }
    mat-icon {
      width: 3%;
    }
  }
}
