<div class="admin-home-page-container">
  <mat-toolbar color="primary">
    <img src="../../../../assets/images/logo.png" alt="GenPoint Logo">
    <span class="application-name-text" routerLink="/home">GenPoint</span>
    <span class="home-toolbar-spacer"></span>

    <!-- User Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="userMenu" class="menu-button">ADMIN<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/admin/maintain-user-role">Add User Role</button>
        <button mat-menu-item routerLink="/admin/maintain-user-role">Maintain User Role</button>
        <button mat-menu-item routerLink="/admin/write-off">Write Off Stock</button>
        <button mat-menu-item routerLink="/admin/audit">View Audit Trail</button>
      </mat-menu>
    </div>

    <!--Supplier Order Dropdown-->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="supplierOrderMenu" class="menu-button">SUPPLIER ORDER<mat-icon>
          arrow_drop_down</mat-icon>
      </button>
      <mat-menu #supplierOrderMenu="matMenu">
        <button mat-menu-item routerLink="/admin/maintain-supplier-order">Maintain Supplier Order</button>
      </mat-menu>
    </div>

    <!-- Customer Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="customerMenu" class="menu-button">CUSTOMER<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #customerMenu="matMenu">
        <button mat-menu-item routerLink="/admin/maintain-customer">Maintain Customer</button>
      </mat-menu>
    </div>

    <!-- Employee Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="employeeMenu" class="menu-button">EMPLOYEE<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #employeeMenu="matMenu">
        <button mat-menu-item routerLink="/admin/add-employee">Add Employee</button>
        <button mat-menu-item routerLink="/admin/maintain-employee">Maintain Employee</button>
      </mat-menu>
    </div>

    <!-- Customer Order Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="customerOrderMenu" class="menu-button">CUSTOMER ORDER<mat-icon>
          arrow_drop_down</mat-icon>
      </button>
      <mat-menu #customerOrderMenu="matMenu">
        <button mat-menu-item routerLink="/admin/maintain-customer-order">Maintain Customer Order</button>
      </mat-menu>
    </div>

    <!-- Supplier Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="supplierMenu" class="menu-button">SUPPLIER<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #supplierMenu="matMenu">
        <button mat-menu-item routerLink="/admin/add-supplier">Add Supplier</button>
        <button mat-menu-item routerLink="/admin/maintain-supplier">Maintain Supplier</button>
      </mat-menu>
    </div>

    <!-- Product Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="productMenu" class="menu-button">PRODUCT<mat-icon>arrow_drop_down
        </mat-icon>
      </button>
      <mat-menu #productMenu="matMenu">
        <button mat-menu-item routerLink="/admin/add-product">Add Product</button>
        <button mat-menu-item routerLink="/admin/maintain-product">Maintain Product</button>
      </mat-menu>
    </div>

    <!-- Delivery Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="deliveryMenu" class="menu-button">DELIVERY<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #deliveryMenu="matMenu">
        <button mat-menu-item routerLink="/admin/view-delivery">View Delivery</button>
        <button mat-menu-item routerLink="/admin/generate-pending-deliveries">Generate Pending Deliveries</button>
      </mat-menu>
    </div>

    <!-- Manufacturing Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="manufacturingMenu" class="menu-button">MANUFACTURING<mat-icon>
          arrow_drop_down</mat-icon></button>
      <mat-menu #manufacturingMenu="matMenu">
        <button mat-menu-item routerLink="/admin/create-batch">Create Batch</button>
        <button mat-menu-item routerLink="/admin/reconcile-cooking-list">Reconcile Cooking List</button>
        <button mat-menu-item routerLink="/admin/maintain-batch">Maintain Batch</button>
      </mat-menu>
    </div>

    <!-- Backup Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="backupMenu" class="menu-button">BACKUP<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #backupMenu="matMenu">
        <button mat-menu-item routerLink="/admin/backup">Create Database Backup</button>
        <button mat-menu-item routerLink="/admin/restore">Restore Database</button>
      </mat-menu>
    </div>

    <!-- Training Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="trainingMenu" class="menu-button">TRAINING<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #trainingMenu="matMenu">
        <button mat-menu-item routerLink="/admin/create-training-module">Create Training Module</button>
        <button mat-menu-item routerLink="/admin/maintain-training-module">Maintain Training Module</button>
        <button mat-menu-item routerLink="/admin/create-training-module-type">Create Training Module Type</button>
        <button mat-menu-item routerLink="/admin/maintain-training-module-type">Maintain Training Module Type</button>
      </mat-menu>
    </div>

    <!-- Branch Dropdown -->
    <div class="toolbar-item-spacer">
      <button mat-button [matMenuTriggerFor]="branchMenu" class="menu-button">BRANCH<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #branchMenu="matMenu">
        <button mat-menu-item routerLink="/admin/create-branch">Create Branch</button>
        <button mat-menu-item routerLink="/admin/maintain-branch">Maintain Branch</button>
        <button mat-menu-item routerLink="/admin/maintain-branch-stock">Maintain Branch Stock</button>
        <button mat-menu-item routerLink="/admin/request-branch-stock">Request Branch Stock</button>
        <button mat-menu-item routerLink="/admin/do-branch-stock-take">Do Branch Stock Take</button>
        <button mat-menu-item routerLink="/admin/receive-branch-stock">Receive Branch Stock</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>