<div class="login-box-container">
  <div class="login-box-wrapper">
    <div class="login-image-wrapper">
      <img src="../../../../assets/images/logo.png">
    </div>
    <div class="login-content-wrapper">
      <h1>Forgotten your password?</h1>
      <form [formGroup] = "forgotPasswordForm">
        <mat-label>Please enter the email address linked to your profile</mat-label>
        <br>
        <mat-form-field appearance="legacy" style="content: center;">
          <input matInput type="email" formControlName="Email">
          <mat-hint style="color:red;" hidden> Please enter a valid email address</mat-hint>
        <br>
      </mat-form-field>
      </form>
      <button mat-raised-button (click)="Forgot()">Submit</button>
    </div>
  </div>
</div>
