ion-button {
  margin-top: 1.5em;
}

.order-header-wrapper {
  text-align: center;
}

.order-number {
  color: #71c9ce;
  font-weight: 600;
}

.order-details {
  opacity: 0.6;
}

.order-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-content-wrapper {
  height: 50vh;
  width: 90vw;
  border: 2px solid #71c9ce;
  border-radius: 20px;
  padding: 0.5em;
  margin-top: 1em;
}

.order-list-wrapper {
  min-height: 38vh;
  max-height: 38vh;
  overflow: auto;
}

.total-info-container {
  background-color: #71c9ce;
  border-radius: 20px;
  color: white;
  margin-top: 1em;
}

.total-info-wrapper {
  display: flex;
  justify-content: space-evenly;
}
