.create-branch-stepper {
  background-color: #F3F9FB;
  width: 75vw;
  height: 60vh;
  .new-branch-form-container {
    display: flex;
    flex-wrap: wrap;
    mat-form-field {
      flex: 1 0 45%;
      margin: 1.5%;
      flex-grow: 1;
    }
    /*File Input Styling*/
    .image-upload-button {
      width: fit-content;
    }
    .branch-image-upload-card {
      width: 20%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 5%;
    }
  }
  .new-branch-complete-container {
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    p {
      padding-top: -1%;
    }
    span {
      color: #4DB6AC;
    }
  }
  button {
    margin: 1.5%;
    width: 10%;
  }
}

.branch-image-upload-card-header {
  object-fit: scale-down;
  cursor: pointer;
}




