<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Restore Database</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper" style= "padding-left: 35px; font-size:15px">
      <br/>
      <div>
        <h3>Choose the DB Script you would like to restore:
        <button style= "font-size:15px; margin-left: 10px" mat-raised-button >ScriptV5</button></h3>
      </div>
      <br/>
      <br/>

      <div class="button-row" mat-dialog-actions align="start" style="margin-left:320px">
        <button style= "font-size:15px; margin-right: 10px; background-color:#40E0D0;" mat-raised-button colour="primary">Restore</button>
        <button style= "font-size:15px; margin-right: 30px" mat-raised-button>Cancel</button>
      </div>
    </div>
  </div>
</div>
