img {
  width: 60vw;
  margin-top: 1em;
}

form {
  width: 85vw;
  margin: auto;
}

ion-item {
  border: 1px solid #1b262c;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

p {
  font-size: small;
  color: #1b262c;
}

ion-button {
  margin-top: 1.5em;
}

.container {
  height: 100%;
  background-image: url('../../../assets/images/cooking-bubbles.png');
  background-size: 50vw;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.login-wrapper {
  text-align: center;
  color: #71c9ce;
}
