<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Create Training Module</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper">
      <mat-horizontal-stepper linear #stepper class="create-training-module-stepper">
        <mat-step [stepControl]="createForm" [editable]="isEditable">
          <form [formGroup]="createForm">
            <ng-template matStepLabel>Configure New Training Module</ng-template>
            <div class="new-branch-form-container">

              <!-- Module Name Input -->
              <mat-form-field hintLabel="Enter the New Module's Name">
                <mat-label>Module Name</mat-label>
                <input matInput #nameInput maxLength="20" formControlName="moduleName">
                <mat-hint align="end">{{nameInput.value?.length || 0}}/20</mat-hint>
                <mat-error>Please enter a module name</mat-error>
              </mat-form-field>
              <br>

              <!-- Module Type Selector -->
              <mat-form-field>
                <mat-label>Module Type</mat-label>
                <mat-select matNativeControl formControlName="moduleType">
                  <mat-option *ngFor="let type of moduleTypes" [value]="type.ID">
                    {{type.Description}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select a Module Type</mat-hint>
                <mat-error>Please select a module type</mat-error>
              </mat-form-field>
              <br>

              <!-- Module Language Selector -->
              <mat-form-field>
                <mat-label>Module Language</mat-label>
                <mat-select matNativeControl formControlName="moduleLanguage">
                  <mat-option value="English">English</mat-option>
                  <mat-option value="Afrikaans">Afrikaans</mat-option>
                  <mat-option value="Zulu">Zulu</mat-option>
                  <mat-option value="Xhosa">Xhosa</mat-option>
                  <mat-option value="Venda">Venda</mat-option>
                  <mat-option value="Tswana">Tswana</mat-option>
                  <mat-option value="Tsonga">Tsonga</mat-option>
                  <mat-option value="Swati">Swati</mat-option>
                  <mat-option value="Southern Sotho">Southern Sotho</mat-option>
                  <mat-option value="Northern Sotho">Northern Sotho</mat-option>
                  <mat-option value="Ndebele">Ndebele</mat-option>
                </mat-select>
                <mat-hint>Select a Module Language</mat-hint>
                <mat-error>Please select a module language</mat-error>
              </mat-form-field>
              <br>

              <!-- Module Duration Selector -->
              <mat-form-field>
                <mat-label>Module Duration</mat-label>
                <mat-select matNativeControl formControlName="moduleDuration">
                  <mat-option value="5">5</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="15">15</mat-option>
                  <mat-option value="20">20</mat-option>
                  <mat-option value="25">25</mat-option>
                  <mat-option value="30">30</mat-option>
                  <mat-option value="35">35</mat-option>
                  <mat-option value="40">40</mat-option>
                  <mat-option value="45">45</mat-option>
                  <mat-option value="50">50</mat-option>
                  <mat-option value="55">55</mat-option>
                  <mat-option value="60">60</mat-option>
                </mat-select>
                <mat-hint>Select an Estimated Module Duration (Minutes)</mat-hint>
                <mat-error>Please select an estimated module duration</mat-error>
              </mat-form-field>
              <br>

              <!-- Module Description Input -->
              <mat-form-field [style.fontSize]="">
                <mat-label hintLabel="Enter a Module Description">Module Description</mat-label>
                <textarea matInput #descriptionInput maxLength="250" formControlName="moduleDescription"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
                <mat-hint align="end">{{descriptionInput.value?.length || 0}}/250</mat-hint>
                <mat-error>Please enter a module description</mat-error>
              </mat-form-field>
              <br>
            </div>

            <!-- Content Selection Checkboxes -->
            <section class="content-section" formGroupName="checkboxGroup">
              <mat-label>Select the Content Type to be Included:</mat-label>
              <mat-checkbox class="content-margin" formControlName="videoCheck" id="videoCheck">Video</mat-checkbox>
              <mat-checkbox class="content-margin" formControlName="textCheck" id="textCheck">Text</mat-checkbox>
              <mat-checkbox class="content-margin" formControlName="imageCheck" id="imageCheck">Image</mat-checkbox>
              <div style="color: #4DB6AC; margin-left: 2%; margin-top: 0.15%;"
                *ngIf="createForm.controls['checkboxGroup'].errors && createForm.controls['checkboxGroup'].errors.requireCheckboxesToBeChecked">
                Please select at least one content type!</div>
            </section>

            <button mat-stroked-button matStepperNext color="primary" (click)="setDisplay()"
              [disabled]=!createForm.valid>Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="createForm">
          <form [formGroup]="createContentForm">
            <ng-template matStepLabel>
              <div class="stepper-header-overlay" (click)="setDisplay()"></div>Add Module Content
            </ng-template>
            <div class="new-branch-form-container-2">
              <div class="example-container">

                <!-- Content Order Selection -->
                <div>
                  <h2>Content Order</h2>
                  <p class="order-instruction-label">Please select the order in which you would like the content to be
                    displayed:</p>
                  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of content" cdkDrag>{{item}}</div>
                  </div>
                </div>

                <!-- Video Content -->
                <div *ngIf="videoEdit">
                  <hr>
                  <h2>Add Video Content URL</h2>
                  <p class="order-instruction-label">Please enter the Youtube URL of the video:</p>
                  <mat-form-field>
                    <mat-label>Video URL</mat-label>
                    <input matInput formControlName="videoLink">
                    <mat-hint>Enter the Youtube URL of the Video</mat-hint>
                    <mat-error>Please enter a URL</mat-error>
                  </mat-form-field>
                </div>

                <!-- Text Content -->
                <div *ngIf="textEdit">
                  <hr>
                  <h2>Add Text Content</h2>
                  <p class="order-instruction-label">Add the text content to be used in the module:</p>
                  <editor formControlName="textContent" apiKey="opzrwvq9h9ygsak1k28bqeysq6x17taa2u46xxeilmm5ngac"
                    [init]="{
                      icons: 'material',
                      skin: 'borderless',
                      plugins: 'autolink lists media table',
                      menubar: true,
                      toolbar_mode: 'floating',
                      min_height: 150
                    }">
                  </editor>
                  <div
                    *ngIf="createContentForm.controls.textContent.errors?.required && createContentForm.controls.textContent.touched"
                    class="text-editor-alert">
                    <div class="text-editor-alert-text">
                      Please add text content for the training module
                    </div>
                  </div>
                  <br>
                </div>

                <!-- Image Content -->
                <div *ngIf="imageEdit">
                  <hr>
                  <h2>Upload Images</h2>
                  <p class="order-instruction-label">Please upload up to 6 images:</p>
                  <div class="image-upload-container">
                    <button mat-stroked-button color="primary" (click)="fileUploader.click()">Select Images</button>
                    <mat-grid-list cols="3" rowHeight="2:1">
                      <mat-grid-tile *ngFor="let item of files">
                        <div class="tile-div">
                          <h2>{{item.name}}</h2><br>
                          <h3 style="color: #4DB6AC">{{item.type}}</h3>
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <br>
                  </div>
                </div>

                <!-- Hidden Image File Input -->
                <input type="file" accept="image/*" multiple #fileUploader id="fileUploader" (change)="onImageSelect($any($event.target).files)" style="display: none;">
                <input type="hidden" formControlName="contentOrder">

              </div>
            </div>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="!createContentForm.valid">Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="createForm" [editable]="isEditable">
          <ng-template matStepLabel>New Module Confirmation</ng-template>
          <div class="stepper-content-container">
            <h1>Training Module: <strong>{{nameInput.value}}</strong>, has been created.</h1>
            <p style="margin-left: 1.6%;">Would you like to publish this training module now?</p>
            <button mat-stroked-button matStepperNext color="primary" (click)="createTrainingModule()">Publish</button>
            <div *ngIf="imageEdit">
              <hr>
              <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip" matTooltip="You have added images to this training module, therefore before you are redirected, we will need to wait until they are fully uploaded. &#13;If for some reason there is an issue with the upload, please check your internet connection!" matTooltipPosition="right" style="margin-right: 88%; margin-top: -0.75%">help_outline</mat-icon>
              <h2 style="margin-left: 2%">Image Uploads: </h2>
            </div>
            <div *ngFor="let file of filesUploaded">
              <app-upload-task-training [file]="file" (urlStringEvent)="receiveUrlString($event)"></app-upload-task-training>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
