@import '~@angular/material/theming';

h1 {
  color: #4DB6AC;
  margin: 3% 3% 1%;
  font-weight: 500;
  font-size: 4vh;
  mat-icon {
    float: right;
    font-weight: 800;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

hr {
  border: 1px solid #4DB6AC;
  width: 20vw;
  opacity: 0.7;
}

h3 {
  color: black;
  margin: 1% 3% 1%;
  font-weight: 500;
  font-size: 2vh;
}

h4 {
  padding-top: 5%;
  font-weight: 500;
  color: #4DB6AC;
}

.viewed-branch-content-container {
  display: flex;
  width: 70.5vw;
  height: 42vh;
  margin: 1% 3% 1%;
  overflow: auto;
  mat-form-field {
    padding-bottom: 10%;
    width: 18vw;
    input {
      color: #8D9192;
    }
    mat-icon {
      position: absolute;
      padding-left: 5%;
      color: #4DB6AC;
      float: right;
      font-size: x-large;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
  .save-update-button {
    height: fit-content;
    width: 7.5%;
    position: fixed;
    right: 14.7%;
    bottom: 23%;
  }
  .discard-update-button {
    height: fit-content;
    width: 7.5%;
    position: fixed;
    right: 23%;
    bottom: 23%;
  }

  .mat-card {
    margin-left: 3%;
    background-color: #F3F9FB;
    width: 10.3vw;
    @include mat-elevation(3);
    img {
      width: 10vw;
      margin: 1%;
    }
  }
}

.viewed-branch-content-container::-webkit-scrollbar {
  display: none;
}

/*Toggle Style*/
.toggle-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// Tweak these to change the style of the toggle
$toggle-background-color-on: #4DB6AC;
$toggle-background-color-off: #8D9192;
$toggle-control-color: white;
$toggle-width: 30px;
$toggle-height: 20px;
$toggle-gutter: 2px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  margin-left: -2%;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;

    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;

    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}

