<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">View or Update Branch</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper">
      <h1>{{name}} Food Works<mat-icon routerLink="/admin/maintain-branch">arrow_back</mat-icon></h1>
      <div class="toggle-div">
      </div>
      <div class="viewed-branch-content-container">
        <!-- Branch View / Update Form -->
        <form [formGroup]="viewBranchForm1" *ngIf="viewBranchForm1">
          <h4>Branch Details:</h4>
          <hr>
          <br>
          <div class="new-branch-form-container">

            <!-- Branch Status -->
            <mat-label style="color: #4DB6AC" *ngIf="status"><b>Currently Active</b></mat-label>
            <mat-label style="color: grey" *ngIf="!status"><b>Currently Disabled</b></mat-label>
            <mat-checkbox formControlName="branchStatus" style="margin-bottom: 7%; margin-left: 5%"></mat-checkbox>
            <br>

            <!-- Branch Name -->
            <mat-form-field>
              <mat-label>Branch Name</mat-label>
              <input matInput formControlName="branchName" maxLength="20">
              <mat-icon>edit_note</mat-icon>
              <mat-error>Please enter a branch name</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Contact Number -->
            <mat-form-field>
              <mat-label>Branch Contact Number</mat-label>
              <input matInput formControlName="branchContactNumber" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="10">
              <mat-icon>edit_note</mat-icon>
              <mat-error>Please enter a branch contact number</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Email Address -->
            <mat-form-field>
              <mat-label>Branch Email Address</mat-label>
              <input matInput formControlName="branchEmailAddress">
              <mat-icon>edit_note</mat-icon>
              <mat-error>Please enter a branch email address</mat-error>
            </mat-form-field>
            <br>

            <mat-card>
              <img mat-card-image alt="{{branchImage}}" src="{{branchImage}}">
              <mat-card-actions>
                <button mat-stroked-button color="primary" style="margin-left: 15%; margin-bottom: 4%;" (click)="fileUploader.click()">Upload New Image</button>
                <label for="fileUploader" id="file"></label>
                <input type="file" accept="image/*" #fileUploader id="fileUploader" (change)="getImageFile($event)" style="display: none;">
              </mat-card-actions>
            </mat-card>

            <!-- Branch Image URL (Hidden)-->
            <input type="hidden" formControlName="branchImage">

            <br>
            <h4>Branch Address:</h4>
            <hr>
            <br>

            <!-- Branch Address (Main Autofill Suggestions) -->
            <mat-form-field>
              <mat-label>Branch Address</mat-label>
              <input matInput placeholder="Enter a location" formControlName="branchAddressFull" ngx-google-places-autocomplete #placesRef="ngx-places" [options]="addressOptions" (onAddressChange)="handleAddressChange($event)"/>
              <mat-icon>edit_note</mat-icon>
              <mat-error>Please enter the new branch’s address</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Street Address (Autofilled) -->
            <mat-form-field>
              <mat-label>Street Address</mat-label>
              <input matInput formControlName="branchStreetName">
              <mat-error>Please enter the street name of the address specified</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Suburb (Autofilled) -->
            <mat-form-field>
              <mat-label>Suburb</mat-label>
              <input matInput formControlName="branchSuburb">
              <mat-error>Please enter a valid suburb</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch City (Autofilled) -->
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput formControlName="branchCity">
              <mat-error>Please enter a valid city</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Province (Autofilled) -->
            <mat-form-field>
              <mat-label>Province</mat-label>
              <input matInput formControlName="branchProvince">
              <mat-error>Please enter the province of the address specified</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Country (Autofilled) -->
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput formControlName="branchCountry">
              <mat-error>Please enter the country of the address specified</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch ZIP (Autofilled) -->
            <mat-form-field>
              <mat-label>ZIP</mat-label>
              <input matInput formControlName="branchZip">
              <mat-error>Please enter the ZIP / Postal code of the address specified</mat-error>
            </mat-form-field>
            <br>

            <!-- Branch Latitude (Autofilled and Hidden)-->
            <input type="hidden" formControlName="branchLate">

            <!-- Branch Longitude (Autofilled and Hidden)-->
            <input type="hidden" formControlName="branchLng">
          </div>
        </form>

        <button mat-stroked-button disabled color="primary" class="discard-update-button" [disabled]="!(viewBranchForm1.dirty)" (click)="resetDefault()">Discard Changes</button>
        <button mat-stroked-button color="primary" class="save-update-button" [disabled]="!(viewBranchForm1.valid && viewBranchForm1.dirty)" (click)="onSubmit()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
