img {
  width: 80%;
}

h4 {
  color: #71c9ce;
  font-weight: 600;
}

h6 {
  opacity: 0.6;
}

.thank-you-container {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.thank-you-wrapper {
  max-width: 90vw;
  margin-top: 7em;
}
