<div class="center-container" *ngIf="viewOrder == null; else viewContainer">

<div class="center-container">
  <app-admin-navigation></app-admin-navigation>

  <div class="table-container">
    <div class="table-wrapper">
    <span class="page-title">Maintain Customer Order</span> <br/><br/>
      <mat-form-field>
        <mat-label>Enter Customer Order No.</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1234" #input>
      </mat-form-field>
      <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip" matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>

      <h2>All Customer Orders</h2>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Sale ID Column -->
        <ng-container matColumnDef="SaleId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No. </th>
          <td mat-cell *matCellDef="let order"> {{order.SaleId}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="DateofSale" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Date </th>
          <td mat-cell *matCellDef="let order"> {{order.DateofSale | date:'dd/MM/y'}} </td>
        </ng-container>

        <!-- Customer Name Column -->
        <ng-container matColumnDef="CustomerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name and Surname </th>
          <td mat-cell *matCellDef="let order"> {{order.CustomerName}} {{order.CustomerSurname}}</td>
        </ng-container>

        <!-- Telephone Column -->
        <ng-container matColumnDef="CustomerTelephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tel No. </th>
          <td mat-cell *matCellDef="let order"> {{order.CustomerTelephone}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="SaleStatusDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </th>
          <td mat-cell *matCellDef="let order"> {{order.SaleStatusDescription}} </td>
        </ng-container>

        <!-- Completion Column -->
        <ng-container matColumnDef="CompletionMethodDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Completion </th>
          <td mat-cell *matCellDef="let order"> {{order.CompletionMethodDescription}} </td>
        </ng-container>

        <!-- Branch Name Column -->
        <ng-container matColumnDef="BranchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
          <td mat-cell *matCellDef="let order"> {{order.BranchName}} </td>
        </ng-container>

        <!-- Payment Column -->
        <ng-container matColumnDef="PaymentTypeDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type </th>
          <td mat-cell *matCellDef="let order">
            <ul *ngFor="let child of order.paymentTypes">
              <li>{{child.PaymentTypeDescription}}</li>
            </ul>
          </td>
        </ng-container>

      <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th><!---->
          <td mat-cell *matCellDef="let order"><mat-icon class="update-table-button" (click)="getOneOrder(order.SaleId)">edit</mat-icon></td>
        </ng-container>

        <!-- View Button Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> View </th><!---->
          <td mat-cell *matCellDef="let order"><mat-icon class="update-table-button" (click)="viewCustomerOrder(order.SaleId)">assignment_ind</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" was found</td>
        </tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

    </div>
  </div>
</div>
</div>

<!--View Customer Order HTML-->
<ng-template #viewContainer>
  <div class="center-container">
    <app-admin-navigation></app-admin-navigation>
    <br><br><br><br>

    <div class="admin-form-container">
      <div class="form-content-wrapper">

    <span class="page-title">View Customer Order</span>
    <br/><br/>
    <div>
      <div class="form">
        <div class="column">
          <form [formGroup] = "form">
            <div>
                <mat-form-field>
                  <mat-label>Sale ID</mat-label>
                  <input readonly matInput formControlName="SaleId">
                </mat-form-field>
                <br/>

                <mat-form-field>
                  <mat-label>Sale Date</mat-label>
                  <input readonly matInput formControlName="DateofSale">
                </mat-form-field>
                <br/>
            </div>
          </form>
        </div>
          <!--Sale Lines-->
            <!-- Section 1 -->
            <div class="column">
              <div class = "products">
                <h3>Items Ordered:</h3>
                <ul *ngFor = "let names of viewOrder.productNames">
                  <li>{{names}}</li>
                </ul>
              </div>
            </div>

            <!-- Section 2 -->
            <div class="column">
              <div class = "quan">
                <h3>Quantity:</h3>
                <ul id="unordered" *ngFor = "let quantities of viewOrder.quantities">
                  <li>x{{quantities}}</li>
                </ul>
              </div>
            </div>
      </div>
        <div class="button-row" mat-dialog-actions align="end">
          <button id="cancelBtn" mat-raised-button (click)="onCancel()">Return</button>
        </div>
        </div>

    </div>
    </div>
  </div>



</ng-template>
