<div class="modal-content">
  <div class="modal-body">
    <h2>Update Supplier</h2>
    <form [formGroup]="SupplierDetailsForm" class="login-content-wrapper">
      <h4>Please enter the following details for the supplier:</h4>
      <!--Type-->
      <mat-form-field>
        <mat-label>Choose a Supplier Type</mat-label>
        <mat-select [ngModel]="selectedOption" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="getTypeid($event)">
          <mat-option *ngFor="let item of typesData" [value]="item.SupplierTypeId">
            {{item.SupplierTypeName}}
          </mat-option>
        </mat-select>
        <mat-hint>Select the Product's Type above</mat-hint>
        <mat-error>Please select a type</mat-error>
      </mat-form-field>

      <!--Order Method-->
      <mat-form-field>
        <mat-label>Choose an Order Method</mat-label>
        <mat-select [ngModel]="selectedOptionMethod" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="getMethodid($event)">
          <mat-option *ngFor="let item of methodsData" [value]="item.OrderMethodId">
            {{item.OrderMethodName}}
          </mat-option>
        </mat-select>
        <mat-hint>Select the Order Method above</mat-hint>
        <mat-error>Please select an order method</mat-error>
      </mat-form-field>

      <!--Name-->
      <mat-form-field>
        <mat-label>Supplier Name</mat-label>
        <input formControlName="SupplierName" #SupplierNameInput matInput />
        <mat-hint>Please enter the supplier's name</mat-hint>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <br />
      <!--VAT-->
      <mat-form-field>
        <mat-label>Supplier VAT Number</mat-label>
        <input formControlName="SupplierVatNumber" #SupplierVatNumberInput matInput />
        <mat-hint>Please enter the supplier's VAT number</mat-hint>
        <mat-error>Please enter 10 digits</mat-error>
      </mat-form-field>

      <!--Contact Number-->
      <mat-form-field>
        <mat-label>Supplier Contact Number</mat-label>
        <input formControlName="SupplierContactNumber" #SupplierContactNumberInput matInput />
        <mat-hint>Please enter the supplier's contact number</mat-hint>
        <mat-error>Please enter 10 digits</mat-error>
      </mat-form-field>

      <!--Email Address-->
      <mat-form-field>
        <mat-label>Supplier Email Address</mat-label>
        <input formControlName="SupplierEmailAddress" #SupplierEmailAddressInput matInput />
        <mat-hint>Please enter the supplier's email address</mat-hint>
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
      <br />

      <!--Order Days (onSelectionChange)="change($event)"-->
      <mat-form-field>
        <mat-select placeholder="Order Day" multiple>
          <mat-option *ngFor="let day of alldays" [value]="day.SupplierOrderDayDescription"
            (onSelectionChange)="change($event)">{{day.SupplierOrderDayDescription}}</mat-option>
        </mat-select>
        <mat-hint>Please select the order days for this supplier</mat-hint>
      </mat-form-field>
      <br />
    </form>
    <!-- </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm Supplier Update</ng-template>
        <div class="new-branch-complete-container">
          <h3><b>Supplier Details</b></h3>
          <p>
            Supplier Name: <span>{{SupplierNameInput.value}}</span><br>
            Supplier VAT Number: <span>{{SupplierVatNumberInput.value}}</span><br>
            Supplier Contact Number: <span>{{SupplierContactNumberInput.value}}</span><br>
            Supplier Email Address: <span>{{SupplierEmailAddressInput.value}}</span><br>
          </p>
        </div>

        <div mat-dialog-actions align="end">
          <button mat-stroked-button style="margin-right: 10px" color="primary" type="submit"
            (click)="openDialog()">Confirm</button>
          <button mat-stroked-button matStepperPrevious color="primary">Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper> -->
    <div mat-dialog-actions align="end">
      <button mat-stroked-button style="margin-right: 10px" color="primary" type="submit"
        (click)="openDialog()">Confirm</button>
    </div>
  </div>
</div>
