<style>
  mat-form-field{
      padding-left: 20px
  }
  </style>

  <div class="center-container">
    <app-admin-navigation></app-admin-navigation>
    <span class="page-title">Add Employee</span>
    <div class="admin-form-container">
      <div class="form-content-wrapper">
        
        <form [formGroup] = "form" margin ="10px" (ngSubmit) = "writeNewEmployee(form.value)" >
        <!--Name-->
          <div>
           <mat-form-field>
              <input formControlName ="name" matInput placeholder ="First Name*">
             <mat-hint>Enter First Name</mat-hint>
              <mat-error>This Field is required, may only contain letters</mat-error>
          </mat-form-field>
          <!--Surname-->
          <mat-form-field>
              <input formControlName ="surname" matInput placeholder ="Last Name*">
              <mat-hint>Enter Last Name</mat-hint>
              <mat-error>This Field is required, may only contain letters</mat-error>
          </mat-form-field>
          <!--ID-->
          <mat-form-field>
              <input formControlName ="IDNumber" matInput placeholder ="ID Number*">
              <mat-hint>Enter ID Number</mat-hint>
              <mat-error>This Field is required, must be 13 digits long</mat-error>
          </mat-form-field>
          </div>
          <br>
          <div>
          <!--Telephone-->
          <mat-form-field>
              <input formControlName ="telephone" matInput placeholder ="Telephone Number*">
                <mat-hint>Enter Telephone Number</mat-hint>
              <mat-error>Invalid Telephone Number, must be 10 digits long</mat-error>
          </mat-form-field>
          <!--Email-->
          <mat-form-field>
              <input formControlName ="email" matInput placeholder ="Email*">
              <mat-hint>Enter Email Address</mat-hint>
              <mat-error>Invalid Email Address, must contain an @ symbol</mat-error>
          </mat-form-field>
          <!--Branch-->
          <mat-form-field style="margin-right:163px">
          <mat-label>Branch</mat-label>
            <mat-select formControlName = "branch">
                      <mat-option *ngFor = "let branch of branches" [value]="branch.BranchId">{{branch.BranchName}}</mat-option>
            </mat-select>
            <mat-hint>Please select a branch</mat-hint>
            <mat-error>This Field is required</mat-error>
           </mat-form-field>
           </div>
          <br>
          <div>
     
          <!--password-->
          <mat-form-field>
              <input formControlName ="password" matInput placeholder ="Password*">
              <mat-hint>Enter Password</mat-hint>
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          <!--confirm password-->
          <mat-form-field>
              <input formControlName ="confirmPassword" matInput placeholder ="Confirm Password*">
              <mat-hint>Confirm Password</mat-hint>
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          <!--user role-->
          <mat-form-field style="margin-right:163px">
          <mat-label>User Role</mat-label>
            <mat-select formControlName = "userRole">
                       <mat-option *ngFor = "let role of userRoles" [value]="role.UserRoleId">{{role.UserRoleName}}</mat-option>
            </mat-select >
            <mat-hint>Select a Branch</mat-hint>
            <mat-error>This Field is required</mat-error>
        </mat-form-field>
        </div>

          <div class = "button" align = "right">
          <button style= "font-size:15; margin-right: 10px" mat-raised-button color="primary" type = "submit" [disabled]="!form.valid" >Submit</button>
          <button style= "font-size:15; margin-right: 10px" mat-raised-button >Cancel</button>
          </div>

      </form>



      </div>
    </div>
  </div>



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="admin-form-container" style = "height: 50px; width: 30%;font-size:15; margin: 10px;">
      <div class="form-content-wrapper" style = "height: 100px; width: 70%;font-size:15; margin: 10px">

  <div>
  <div mat-dialog-content style= "font-size:15; margin-right: 20px ">
      <mat-label style = "margin-right: 10px; align:center; text-align: center;">Congratulations! You are now registered as a Food Works Employee.</mat-label>

  </div >
  <div mat-dialog-actions align= "right">
    <button mat-button style= "font-size:15; margin-right: 10px" mat-raised-button color="primary" >Close</button>
  </div>
  </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="admin-form-container" style = "height: 30px; width: 30%;font-size:15; margin: 10px">
      <div class="form-content-wrapper" style = "height: 70px; width: 70%;font-size:15; margin: 10px">

  <div>
  <div mat-dialog-content style= "font-size:15; margin-right: 20px ">
      <mat-label style = "margin-right: 10px; align:center; text-align: center;">Unsuccessful Validation </mat-label>

  </div >
  <div mat-dialog-actions align= "right">
    <button mat-button style= "font-size:15; margin-right: 10px" mat-raised-button color="primary" >Close</button>
  </div>
  </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
