@import "~src/styles.scss";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

#daily-sales-table td {
  justify-content: center;
  align-items: center;
  align-content: center;
  table-layout: fixed;
  text-align: center;
  column-width: 10%;
  border: 0.0002px dotted #4db6ac;
  padding: 2px;
  border-collapse: collapse;
}

#header td {
  background-color: cadetblue;
  font-weight: bold;
}

.wrapper {
  display: flex;
}

.sidenav {
  float: left; /* This causes the sidebar to move to the left */
  height: 80vh;
  width: 230px;
  z-index: 1;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 100px;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 1px 7px rgb(136, 136, 136);

  button {
    padding: 10px 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    margin-left: 7px;
  }
}

.button {
  padding: 5px 15px;
  text-align: center;
  border: none;
}
#content {
  padding-left: 30px;
  padding-top: 10px;
  float: right;
  //width: 700px;      /* We need to set the width whenever we float an element */
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
// Home page styles
.home-page-container {
  height: 100vh;
}

// Toolbar
mat-toolbar {
  .application-name-text {
    color: $text-color;
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transition: 0.5s;
      opacity: 0.6;
    }
  }
  .home-toolbar-spacer {
    flex: 1 1 auto;
  }
  .profile-icon {
    color: $text-color;
  }
  img {
    width: 2.3%;
  }
  button {
    color: $text-color;
  }
}
// sales graph
.graph {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  background-color: #f3f9fb;
  border-color: $text-color;
}

//cards
.stats-cards {
  @include flexCenter(column);
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3f9fb;
  border-color: $text-color;
}

.img-header {
  height: 180px;
  width: 250px;
  float: center;
  align-items: center;
}
.img-footer {
  height: 70px;
  width: 120px;
  float: left;
  align-items: left;
}
.right-footer {
  align-items: right;
  float: right;
}
.right-head {
  align-items: right;
  text-align: right;
}
.left-footer {
  float: left;
  align-items: left;
  width: 50%;
}
.hr-header {
  height: 4px;
  border: 5px solid #4db6ac;
  background: #4db6ac;
}
.h1-header {
  background: rgb(160, 244, 247);
  text-align: center;
}
.header {
  width: 40%;
}
.center-head {
  align-items: center;
  text-align: center;
}
