<div class="center-container" *ngIf="viewEmployee == null; else viewContainer">
  <app-admin-navigation></app-admin-navigation>

  

  <div class="table-container">
    <div class="table-wrapper">
    <span class="page-title" >Maintain Employee</span>
    <br><br><br>

      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter Employee Details" #input>
      </mat-form-field>
      <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip"
        matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.EmployeeName +" "+element.EmployeeSurname}} </td>
        </ng-container>

        <ng-container matColumnDef="DOB">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Number </th>
          <td mat-cell *matCellDef="let element"> {{element.EmployeeIdNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.EmployeeTelephone}} </td>
        </ng-container>


        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="update-table-button" (click)="getEmployeeDetailsUpdate(element.EmployeeIdNumber)" >edit</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> View </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="update-table-button" 
              (click)="getEmployeeDetails(element.EmployeeIdNumber)">assignment_ind</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" id={{row.EmployeeIdNumber}}></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons
        class="mat-elevation-z8"></mat-paginator>

    </div>
  </div>
</div>

<!--View Employee HTML-->
<ng-template #viewContainer>
  <div class="center-container">
    <app-admin-navigation></app-admin-navigation>
    <br><br><br><br><br><br><br><br><br><br>

    <div class="admin-form-container">
      <div class="form-content-wrapper" style="height: 400px">
      
    <span class="page-title">View Employee</span>
    <br><br><br>
      <div id = 'print-section'>
        <form [formGroup] = "form" margin ="10px" >
        <!--Personal Details-->
        <div>
          <div>
          <h2>Personal Details:</h2>

           <mat-form-field>
              <input readonly formControlName ="name" matInput placeholder ="First Name">
             <!--<mat-hint>Enter First Name</mat-hint>-->
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          <!--Surname-->
          <mat-form-field>
              <input readonly formControlName ="surname" matInput placeholder ="Last Name">
              <!-- <mat-hint>Enter Last Name</mat-hint>-->
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          <!--ID-->
          <mat-form-field>
              <input readonly formControlName ="IDNumber" matInput placeholder ="ID Number">
              <!-- <mat-hint></mat-hint>-->
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          </div>
          <br>
          <div>
          <!--Telephone-->
          <mat-form-field>
              <input readonly formControlName ="telephone" matInput placeholder ="Telephone Number">
             <!-- <mat-hint></mat-hint>-->
              <mat-error>This Field is required</mat-error>
          </mat-form-field>
          <!--Email-->
          <mat-form-field>
              <input readonly formControlName ="email" matInput placeholder ="Email">
              <!-- <mat-hint></mat-hint>-->
              <mat-error>Invalid Email Address</mat-error>
          </mat-form-field>
          <!--Branch-->
          <mat-form-field style="margin-right:163px">
           <input readonly formControlName ="branch" matInput placeholder ="Branch">

           </mat-form-field>
           </div>
        </div>
        </form>
        <br>
        <!--Training Modules Completed-->
        <div>
          <h2>Training Modules Completed:</h2>
          <div class = "trainingModule" *ngFor = "let module of viewEmployee.moduleNames" style = "display: flex; margin:20px" >
          <mat-icon>assignment_turned_in</mat-icon><h3>{{module}}</h3>
          </div>
        </div>
         </div>
        <div class="button">
          <button printTitle="Employee Details" printSectionId="print-section" ngxPrint>Print</button>
          <button (click)="goBack()">Back</button>
        </div>

     
    </div>
    </div>
  </div>



</ng-template>

