<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Generate Pending Deliveries</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select Deliveries</ng-template>
            <div class="stepper-content-container">
              <mat-card *ngFor="let delivery of deliveries">
                <mat-grid-list cols="4" rowHeight="7:1">
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Delivery ID: {{ delivery.deliveryID }}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Address: {{ delivery.address }}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Postal Code: {{ delivery.postalCode}}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox (change)="onDeliverySelect($event, delivery.deliveryID ,delivery.address)">Make Pending</mat-checkbox>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </div>
            <button mat-button matStepperNext [disabled]="deliveryNext">Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Drivers</ng-template>
            <div class="stepper-content-container">
              <mat-card *ngFor="let driver of drivers">
                <mat-grid-list cols="4" rowHeight="7:1">
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Driver Name: {{ driver.driverName }}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Driver Surname: {{ driver.driverSurname }}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Driver Telephone: {{ driver.driverTelephone }}</h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox (change)="onDriverSelect($event, driver.employeeID, driver.driverName, driver.driverSurname)">Select</mat-checkbox>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="driverNext" (click)="doSplit()">Next</button>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirm</ng-template>
          <div class="confirm-table-wrapper">
            <div cdkDropListGroup>
              <div class="example-container" *ngFor="let item of dragDrop">
                <h2>{{ item.driver }}</h2>
                <div
                  cdkDropList
                  [cdkDropListData]="item.driver"
                  class="example-list"
                  cdkDropListSortingDisabled
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of item.splitDeliveries" cdkDrag>{{ item.address }}</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="openDialog()">Confirm</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>


