  <div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Receive Branch Stock</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper">
      <mat-horizontal-stepper linear #stepper class="receive-branch-stock-stepper">
        <mat-step [stepControl]="receiveForm" [editable]="isEditable">
          <form [formGroup]="receiveForm" *ngIf="receiveForm">
            <ng-template matStepLabel>Select Branch Request</ng-template>
            <div class="stepper-content-container">
              <h1><strong>Select a Stock Request to Receive</strong></h1>
              <mat-card formArrayName="checks" *ngFor="let check of getQuantityControls(); let i = index;">
                <mat-grid-list cols="4" rowHeight="7:1">
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Request ID: <b>{{requests[i].BranchRequestId}}</b></h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Request Date: <b>{{requests[i].BranchRequestDate}}</b></h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="data-wrapper">
                      <h3>Request Status: <b>{{requests[i].RequestStatusId}}</b></h3>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox [formControlName]="i" *ngIf="requests[i].RequestStatusId === statusRequested" [checked]="selected === i" (change)="selected = i; sendId(requests[i].BranchRequestId)" (click)="selected = -1"></mat-checkbox>
                    <h3 *ngIf="requests[i].RequestStatusId === statusComplete">Complete</h3>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </div>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="selected === -1" (click)="getRequestList()">Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="receiveForm" [editable]="isEditable">
          <form [formGroup]="requestForm" *ngIf="requestForm">
            <ng-template matStepLabel><div class="stepper-header-overlay" (click)="getRequestList()"></div>Confirm Products Received</ng-template>
            <div class="stepper-content-container">
              <h1><strong>Confirm Products Received for request number <span style="color: grey">{{sentId}}</span>.</strong></h1>
              <table mat-table [dataSource]="requestLineInfoTableDataSource">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Product ID -->
                <ng-container matColumnDef="ProductID">
                  <th mat-header-cell *matHeaderCellDef> Product ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
                </ng-container>

                <!-- Product Type ID -->
                <ng-container matColumnDef="ProductType">
                  <th mat-header-cell *matHeaderCellDef> Product Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.ProductTypeName}} </td>
                </ng-container>

                <!-- Product Name -->
                <ng-container matColumnDef="ProductName">
                  <th mat-header-cell *matHeaderCellDef> Product Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
                </ng-container>

                <!-- Quantity Requested -->
                <ng-container matColumnDef="QuantityRequested">
                  <th mat-header-cell *matHeaderCellDef> Requested Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.RequestedQuantity}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="!allSelected()" (click)="confirmRequest()">Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="receiveForm" [editable]="isEditable">
          <ng-template matStepLabel>Confirm Selected Request</ng-template>
          <div class="stepper-content-container">
            <h1><strong>Confirm Branch Stock Request Receival</strong></h1>
            <mat-list>
              <mat-list-item> Branch Request ID: <span class="data-text-list">{{sentId}}</span></mat-list-item>
              <mat-list-item> Branch Request Status: <span class="data-text-list">Complete</span></mat-list-item>
              <mat-list-item> Branch Receival Date: <span class="data-text-list">{{currentDate}}</span></mat-list-item>
             </mat-list>
             <button mat-stroked-button color="primary">Confirm</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
