mat-grid-tile {
  min-width: 20vw;
}

button {
  margin: auto;
}

hr {
  color: #4db6ac;
}

:host {
  text-align: center;
}

.text-highlight {
  color: #4db6ac;
}

img {
  width: 50%;
  margin-left: 20px;
}
