ion-content {
  text-align: center;
}

img {
  border-radius: 20px;
}

h6 {
  margin-top: 6em;
}

.order-number {
  color: #71c9ce;
  font-weight: 600;
}

.qr-wrapper {
  width: 85vw;
  margin: 2em auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 0.5em
}
