<ion-header>
  <ion-toolbar>
    <ion-title>View QR Code</ion-title>
    <ion-buttons (click)="dismissModal()" slot="end">
      <ion-fab-button color="danger" size="small">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>Order Number:</h6>
  <h3 class="order-number">{{ orderNumber }}</h3>
  <div class="qr-wrapper">
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
</ion-content>
