mat-form-field{
    margin-left: 20px;
}
.trainingModule
{
    margin-left: 20px ;
}
h2{
    margin-left: 20px;
}
span{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}
button
{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    
}