<ion-header>
  <ion-toolbar>
    <ion-title>Add to Cart</ion-title>
    <ion-buttons (click)="dismissModal(true)" slot="end">
      <ion-fab-button color="danger" size="small">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-to-cart-container">
    <img src="../../../assets/images/add-to-cart.svg" alt="add-to-cart">
    <h4>Item Price: R {{ price }}</h4><br>
    <h6>Quantity: {{ quant }}</h6>
    <form [formGroup]="addForm">
      <ion-item lines="none">
        <ion-range min="1" max="10" step="1" snaps="true" color="secondary" (ionChange)="changeQuant($event)">
        </ion-range>
      </ion-item>
      <ion-button type="submit" [disabled]="!addForm.valid" color="success" (click)="dismissModal(false)"><ion-icon name="checkmark-outline"></ion-icon>Confirm (R {{ cartLinePrice }})</ion-button>
    </form>
  </div>
</ion-content>
