<div class="add-loyalty-dialog-container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <form [formGroup]="searchForm">
        <ng-template matStepLabel>Search Customer</ng-template>
        <h1>Search Customer to Add</h1>
        <mat-form-field>
          <mat-label>Customer Number or Email</mat-label>
          <input matInput formControlName="searchInput" placeholder="Telephone or Email">
          <mat-error>Please Enter Search Criteria</mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperNext color="primary" style="margin-top: 10%;">Search</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select Customer</ng-template>
      <form [formGroup]="searchForm">
        <h1>Select Searched Customer</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> Surname </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef> Telephone </th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Add as Loyalty </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button style="color: #4DB6AC">Select</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="searchForm">
        <ng-template matStepLabel>Add Customer to Loyalty</ng-template>
        <h1>Enter Customers Date of Birth</h1>
        <mat-form-field>
          <mat-label>Date of birth</mat-label>
          <input matInput formControlName="dateInput" type="date">
          <mat-error>Please Select a Date of Birth</mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperNext color="primary" style="margin-top: 10%;">Add</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
