@import "~src/styles.scss";

.login-box-container {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f9fb;
}

.access-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 95%;
  background-color: white;
  box-shadow: $shadow;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.login-image-wrapper {
  width: 100%;
  text-align: center;
  img {
    width: 20%;
    padding-top: 14%;
    padding-bottom: 6%;
  }
}

.login-content-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 3em;
    margin-bottom: 15%;
    color: #433d3c;
  }
  mat-form-field {
    margin-bottom: 25%;
  }

  button {
    margin-bottom: 50%;
  }
}
