<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <div class="table-container">
    <div class="table-wrapper">
      <span class="table-name-header">Maintain Training Module Type <button mat-button mat-raised-button color="primary" style="float:right;" (click)="openModal()">Add Training Module Type</button>
      </span><br><br>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="E.g. Orientation" #input>
      </mat-form-field>
      <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip" matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
        </ng-container>
      
        <!-- Update Button Column -->
        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="update-table-button"
              (click)="getDetailsUpdate(element.ID)" >edit</mat-icon>
          </td>
        </ng-container>
      
        <!-- Delete Button Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="update-table-button" color="warn" (click) = "deleteType(element)">delete</mat-icon>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

    </div>
  </div>
</div>

