<div class="center-container">
  <app-admin-navigation></app-admin-navigation>
  <span class="page-title">Create Database Backup</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper" style= "padding-left: 35px; font-size:15px">
      <br/>
      <div>
        <h3>Choose Backup Location:
        <button style= "font-size:15px; margin-left: 10px" mat-raised-button >Documents</button></h3>
      </div>
      <br/>
      <br/>

      <div class="button-row" mat-dialog-actions align="start" style="margin-left:160px">
        <button style= "font-size:15px; margin-right: 10px;" mat-raised-button colour="primary">Create</button>
        <button style= "font-size:15px; margin-right: 30px" mat-raised-button >Cancel</button>
      </div>
    </div>
  </div>
</div>
