<div class="center-container">
  <app-admin-navigation></app-admin-navigation>

  <span class="page-title">Maintain Product</span>
  <br/> <br/> <br/>

  <div class="table-container">
    <div class="table-wrapper">

      <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip" matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>

      <mat-form-field>
        <mat-label>Choose a Product Type</mat-label>
        <mat-select [ngModel]="selectedOption" (ngModelChange)="getProducts($event)" >
            <mat-option *ngFor="let item of typesData" [value] = "item.ProductTypeId">
              {{item.ProductTypeName}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <br/>
      <mat-form-field>
        <mat-label>Enter Search Criteria</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Winter Package" #input>
      </mat-form-field>

      <h2>Products</h2>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Barcode -->
        <ng-container matColumnDef="productBarcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Code </th>
           <td mat-cell *matCellDef="let product"><span *ngIf="product.ProductBarcode!=null;else none"> {{product.ProductBarcode}} </span> </td>
        </ng-container>
        <ng-template #none>N/A</ng-template>

        <!-- Product Name Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name</th>
          <td mat-cell *matCellDef="let product"> {{product.ProductName}} </td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="productDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let product"> {{product.ProductDescription}} </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="productType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
          <td mat-cell *matCellDef="let product"> {{product.ProductTypeName}} </td>
        </ng-container>

        <!-- Image -->
        <ng-container matColumnDef="productImage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Image</th>
          <td mat-cell *matCellDef="let product"> <img *ngIf="product.ProductImage!=null;else other" src="{{product.ProductImage}}"/></td>
        </ng-container>
        <ng-template #other>N/A</ng-template>

        <!-- Contents -->
        <ng-container matColumnDef="inventoryProduct">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contents</th>
          <td mat-cell *matCellDef="let product">
            <span *ngIf="product.contents!=null;else nothing">
              <ul *ngFor="let child of product.contents">
                <li>{{child.ProductName}} x{{child.Quantity}}</li>
              </ul>
            </span>
          </td>
        </ng-container>
        <ng-template #nothing>N/A</ng-template>

        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let product"><mat-icon class="update-table-button" (click)="getOneProduct(product.ProductName)">edit</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No product matching the filter "{{input.value}}" was found</td>
        </tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

    </div>
  </div>
</div>
