<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm">
    <ion-item lines="none">
      <ion-label color="tertiary">Current Password</ion-label>
      <ion-input formControlName="currentPassword"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="tertiary">Email Address</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="tertiary">New Password</ion-label>
      <ion-input formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="tertiary">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!resetPasswordForm.valid" color="primary" (click)="doResetPassword()">Submit</ion-button>
  </form>
</ion-content>
